.Main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  width: 1025px;
  margin: 0 auto;
}

.Community {
  height: 100%;
  width: 709px;
}

.Side {
  height: 100%;
  width: 290px;
}
